<div class="container">
    <div class="row">
        <div class="col">
            <label>Titulo Persona</label>
            <input 
            type="text"
            class="form-control"
            placeholder="Ingrese el titulo de la persona"
            [(ngModel)]="tituloPersona">
            {{tituloPersona}}
            <h1>Listado de personas</h1>
            <button class="btn btn-primary"
            [disabled]="!agregarPersona"
            (click)="onCrearPersona()">Agrergar Persona</button>
            <p *ngIf="personaCreada; else sinPersona" >{{agregarPersonasStatus}} con titulo {{tituloPersona}}</p>
            <ng-template #sinPersona>
                <p>No se ha agregado ninguna persona</p>
            </ng-template>
            
            <app-persona></app-persona>
        </div>
    </div>
</div>

